body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.generate-button {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border: 5px solid black;
  border-radius: 12px;
  height: 70px;
  width: 200px;
}

.reset-button {
  background-color: rgb(175, 76, 92);
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-top: 15px;
  border: 5px solid black;
  border-radius: 12px;
  height: 70px;
  width: 200px;
}

.row-header {
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  margin-bottom: 100px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

.navbar-dark {
  background-color: black;
}

.footer {
  position: fixed;
  bottom:0%;
  width:100%; 
  background-color: black; 
  color:floralwhite;
  font-size: 12px;
}

.ball {
  width: 40px;
  height: 40px;
  color: floralwhite;
}

.ball-selected {
  width: 40px;
  height: 40px;
  color: red;
}

.grid-numbers button {
  background: url("../images/ball.png") no-repeat scroll 0 0 transparent;
  background-size: cover;
  font-weight: bold;
  height: 40px;
  width: 40px;
  border: none;
}

.grid-stars {
  margin-top: 20px;
}

.grid-stars button {
  background: url("../images/star.jpg") no-repeat scroll 0 0 transparent;
  background-size: cover;
  font-weight: bold;
  height: 40px;
  width: 40px;
  border: none;
}

.language-select {
  background-color:white;
  border-radius: 5px;
}

.mandatory {
  color: red;
  font-weight: bold;
}

.selection-numbers-and-stars {
  margin-bottom: 20px;
}

.selection-numbers {
  /*width: 200px;
  height: 50px;*/
  margin-left: 10px;
  font-size: 22px;
  /*padding: 5px;
  border-radius: 15px;
  border: 3px solid black;*/
}

.selection-stars {
  margin-left: 10px;
  font-size: 22px;
  /*padding: 5px;
  border-radius: 15px;
  border: 3px solid black;*/
}
